<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<!-- Fragmento de cabecera -->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">JokesApp</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/jokes}">Jokes CRUD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/flags}">Flags CRUD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories CRUD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/languages}">Languages CRUD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/types}">Types CRUD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/primera_vez}">Listar Jokes con primera_vez y teléfono</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>